.page-ticket {
  padding: 30px;
  background: rgba(23, 27, 32, 0.68);
  border-radius: 12px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $line_clr;
    margin-bottom: 20px;

    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.012em;
      font-variant: small-caps;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #62646c;
      margin-bottom: 10px;
    }

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.012em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #dbdbdb;
    }

    &-status {
      padding: 8px 16px;
      background: rgba(45, 156, 219, 0.06);
      border-radius: 100px;
      font-weight: 600;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #2d9cdb;
    }
  }
}

.ticket {
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    button {
      padding: 15px 20px;
      font-size: 12px;
      line-height: 1;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-weight: 600;
      font-feature-settings: 'pnum' on, 'lnum' on;
      border-radius: 8px;
      transition: 0.2s;
      user-select: none;
      color: $main_clr_900;
      background: red;

      svg path {
        stroke: $main_clr_900;
      }

      &:hover {
        background: #e4edef;
      }
    }
  }

  &-status {
    padding: 8px 16px;
    border-radius: 100px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2d9cdb;
    background: rgba(45, 156, 219, 0.06);
    display: inline-block;

    &_solved {
      background: rgba(118, 219, 161, 0.04);
      color: #76dba1;
    }
  }
}

@media screen and (max-width: 500px) {
  .page-ticket {
    padding: 30px 15px;
  }

  .page-ticket-chat__problems-item {
    white-space: unset;
    line-height: 120%;
  }

  .page-ticket-chat__input {
    grid-template-columns: 1fr 94px;
  }

  .page-ticket-chat__input__buttons {
    grid-template-columns: repeat(2, 30px);
  }

  .page-ticket-chat__input__buttons svg {
    width: 30px;
    height: 30px;
  }

  .page-ticket-chat__input__buttons button:last-child svg {
    width: 15px;
    height: 15px;
  }
}

.ticket {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .admin-form__label {
      margin: 0;
    }
    &-info {
      display: flex;
      align-items: center;
      gap: 5px;
      a {
        width: 26px;
        height: 24px;
      }
    }
  }
  &-chat {
    height: calc(100svh - 374px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    &-with-files {
      height: calc(100svh - 374px - 80px);
    }
    &-message {
      background: #171b20;
      border-radius: 8px;
      padding: 12px;
      width: max-content;
      max-width: 400px;
      color: #95979f;
      font-size: 14px;
      font-weight: 500;

      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &.mine {
          align-items: end;
          .ticket-chat-message {
            background: #20ada3;
            color: #0b0c0e;
          }
        }
      }
      &-user {
        font-size: 13px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color: rgba(229, 229, 229, 0.5);
        transition: 0.25s;
      }
      &-date {
        color: #95979f;
        font-size: 12px;
        font-weight: 500;
      }
      &.files {
        display: flex;
        align-items: center;
        gap: 12px;
      }
      &-file {
        display: flex;
        flex-direction: column;
        gap: 5px;
        img {
          width: 154px;
          height: 88px;
          object-fit: cover;
          border-radius: 6px;
        }
        &-name {
          font-size: 11px;
        }
        &-size {
          font-size: 11px;
          opacity: 0.8;
        }
      }
    }
  }
  .page-ticket-chat__input-container {
    margin-top: 0;
  }
  .page-ticket-chat__attachments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    height: 60px;
    overflow: auto;
    .page-ticket-chat__attachments__item-icon {
      width: 35px;
      height: 35px;
      border-radius: 5px;
    }
    .page-ticket-chat__attachments__item-content {
      grid-template-columns: 35px 1fr;
      gap: 5px;
    }
    .page-ticket-chat__attachments__item-name {
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 0.012em;
      color: #dbdbdb;
      max-width: 75px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .page-ticket-chat__attachments__item-delete {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.48;
      transition: 0.25s;
      cursor: pointer;
      svg {
        height: 18px;
        width: 18px;
      }
    }
    .page-ticket-chat__attachments__item {
      margin: 0 !important;
    }
  }
}
