.header-lang {
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    height: 52px;
    color: rgba(229, 229, 229, 0.78);
    border-radius: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    transition: .25s;
    user-select: none;

    path {
      stroke: rgba(229, 229, 229, 0.78);
    }

    &:hover {
      background: $line_clr;
      transition: .25s;
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      gap: 10px;
      height: 100%;
    }
  }
}