.game-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 22px;
  gap: 16px;
  position: relative;
  border-radius: 8px;
  transition: .25s;

  &__content {
    p {
      &:first-child {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.012em;
        color: $main_clr_50;
        transition: .25s;
      }

      &:last-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.012em;
        color: $text_clr;
        margin-top: 8px;

        span {
          color: $main_clr;
        }
      }
    }
  }

  svg {
    position: absolute;
    right: 22px;
    width: 22px;
    height: 22px;
    transform: rotate(-90deg);

    path {
      stroke: $main_clr_700;
    }
  }

  &:hover {
    background: $line_clr;

    .game-item__content {
      p:first-child {
        color: $main_clr;
      }
    }
  }
}