.page-home-hint {
  margin-top: 80px;
  margin-bottom: -80px;
  padding: 110px 0;
  text-align: center;
  background-image: url('/images/home/hint.png');
  background-size: cover;
  background-position: center;

  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.02em;
    font-variant: small-caps;
    color: #BBF1B5;
  }

  a {
    display: block;
    text-decoration: none;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.015em;
    font-variant: small-caps;
    color: $main_clr_50;
    transition: .25s;
    margin-top: 10px;

    &:hover {
      color: $main_clr;
    }
  }

  img {
    margin-top: 12px;
  }
}

@media screen and (max-width: 590px) {
  .page-home-hint a {
    font-size: 48px;
    line-height: 55px;
  }

  .page-home-hint {
    img {
      width: 80%;
    }
  }
}