.page-settings {
  .input {
    height: 56px;
  }

  &__email {
    position: relative;
    display: flex;
    align-items: center;

    .input {
      width: 100%;
    }

    &-status {
      position: absolute;
      right: 16px;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      padding: 6px 12px;
      border-radius: 100px;
      background: rgba(244, 78, 67, 0.04);
      color: #F44E43;
      user-select: none;
      pointer-events: none;

      &.confirmed {
        background: rgba(118, 219, 161, 0.04);
        color: #76DBA1;
      }
    }

    &-confirm {
      display: grid;
      grid-template-columns: 20px 1fr auto;
      align-items: center;
      gap: 12px;
      padding: 12px;
      background: rgba(244, 78, 67, 0.04);
      border-radius: 6px;
      margin-top: 10px;

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.012em;
        color: #F44E43;
      }

      button {
        background: transparent;
        font-weight: 700;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.012em;
        color: $main_clr_50;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  &__password {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .input {
      margin: 0;
    }
  }

  .btn-large {
    height: 56px;
    margin-top: 22px;
    background: $main_clr;
    text-transform: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    transition: .25s;

    &:hover {
      background: #E4EDEF;
    }
  }
}