$background_clr: #111317;
$line_clr: white;
$main_clr: #20ADA3;

$main_clr_50: #DBDBDB;
$main_clr_700: #62646C;
$main_clr_800: #171B20;
$main_clr_900: #111317;

$text_clr: #95979F;

$green_clr: #76DBA1;

$line_clr: rgba(255, 255, 255, 0.03);