.new {
  padding: 4px 12px;
  display: inline-block;
  background: rgba(32, 173, 163, 0.04);
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #20ADA3;
  user-select: none;
}