.page-contacts {
  &__container {
    display: grid;
    grid-template-columns: 1fr 570px;
    align-items: flex-start;
    gap: 14vw;
    margin-top: 80px;
  }

  &-title {
    margin-bottom: 24px;

    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      color: $main_clr_50;
    }

    img {
      width: 204px;
      margin-top: 12px;
    }
  }

  &-text {
    margin-bottom: 61px;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.012em;
      color: $text_clr;
    }
  }

  &__items {
    &-label {
      color: $main_clr_700;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 24px 0;
    border-bottom: 1px solid $line_clr;

    svg {
      width: 20px;
      height: 20px;

      path {
        stroke: $main_clr_700;
      }
    }

    &:not(:first-child) {
      svg {
        width: 30px;
        height: 30px;
        margin-left: -5px;
      }

      path {
        fill: $main_clr_700;
      }

      p {
        margin-left: -5px;
      }
    }

    p, a {
      font-weight: 700;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.012em;
      color: $text_clr;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__socials {
    padding-top: 24px;
    display: flex;
    gap: 15px;

    a {
      width: 40px;
      height: 40px;

      svg {
        width: 100%;
        height: 100%;

        path {
          transition: .25s;
        }
      }

      &:hover {
        path {
          fill: $main_clr;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .page-contacts__container {
    grid-template-columns: 1fr;
  }
}